* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
}

.container {
    display: flex;
}

.content {
    padding-left: 150px;
}

@media (max-width: 768px) {
    .content {
        padding-left: 0;
    }
}
